RewriteEngine on

RewriteRule ^Home index.php [NE,L]
RewriteRule ^Login login.php [NE,L]
RewriteRule ^Register register.php [NE,L]
RewriteRule ^Terms terms.php [NE,L]
RewriteRule ^Logout logout.php [NE,L]
RewriteRule ^Insert insert.php [NE,L]
RewriteRule ^Update update.php [NE,L]
RewriteRule ^Profile profile.php [NE,L]
RewriteRule ^Setting settings.php [NE,L]
RewriteRule ^Category category.php [NE,L]
RewriteRule ^Item item.php [NE,L]
RewriteRule ^Locations location.php [NE,L]
